.contact-page {
  padding: 2rem 1rem;
}
.contact-container {
  max-width: 90%;
  margin: 0 auto;
  background: rgba(255,255,255,0.06);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

/*contact info + socials */
.contact-info {
  padding: 1rem;
}
p.normal-text{
  font-size: 1.25rem;

}
.contact-items {
  display: inline-flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.25rem;
  margin: 1rem 0 1rem 0;
  text-align: right;
}

.contact-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-box {
  width: 4rem;
  height: 4rem;
  border-radius: 12px;
  background: rgba(255,255,255,0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gold);
  font-size: 2.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon-box:hover {
  transform: scale(1.2);
  color: var(--white);
}

.contact-text h4 {
  margin: 0;
  color: var(--white);
}

.contact-text p {
  font-size:  1.25em;
  font-weight: bolder;
  margin: 0.25rem 0 0 0;
  color: var(--gold);
}

.socials-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}


@media (max-width: 900px) {
  .contact-container {
    padding: 1rem;
  }
  .contact-items {
    font-size: 1rem;
    gap: 1rem;
  }

}
