:root {
  --navy: #252951;        /* كحلي داكن */
  --muted: #e6eef8;       /* رمادي فاتح */
  --muted-2: #eaeaea;     /* رمادي ثانوي */
  --accent-blue: #436fbb; /* أزرق ثانوي */
  --primary: #0b3b8d;      /* الأزرق الأساسي */
  --gold: #e59225;         /* الذهبي الموحد */
  --light-blue: #80abe1;   /* الأزرق الفاتح */
  --dark-blue: #1155cc;    /* الأزرق الداكن */
  --whatsapp: #25D366;     /* أخضر واتساب */
  --facebook: #1877F2;     /* أزرق فيسبوك */
  --instagram: #E1306C;    /* وردي انستغرام */
  --twitter: #0088CC;      /* أزرق تويتر */
  --cyan: #00ffff;         /* سماوي */
  --black: #000000;       /* أسود */
  --white: #ffffff;       /* أبيض */

}
