
@import './colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  font-size: 80%;
  scroll-behavior: smooth;
  /* font-size: 16px; */
}

body {
  margin: 0;
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal','Cairo', sans-serif;
   /*تحسين مظهر الخطوط وجعلها أكثر نعومة ووضوحًا*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.title {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--dark-blue);
}

h2.subtitle{
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  font-style: normal;
  line-height: 1.5;
  color: var(--white);
  margin: 0;
}

h2.blue-heading{
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-weight: 700;
font-size: 2rem;
line-height: 1.5;
color: var(--dark-blue);
}

h2.orange-heading{
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-weight: 700;
font-size: 2rem;
font-style: normal;
line-height: 1.5;
color: var(--gold);
}

h2.white-heading{
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-weight: 700;
font-size: 2rem;
line-height: 1.5;
color: var(--white);
}

p.normal-text{
font-family: 'Tajawal', sans-serif;
font-weight: 500;
font-size: 1rem;
font-style: normal;
line-height: 1.25;
color: var(--white);
}