.social-container {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  direction: ltr;
}

.icon {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  outline: 2px solid white;
  border-radius: 50%;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  color: var(--white);
}

.icon:hover {
  outline-offset: 4px;
}

.icon-whatsapp:hover {
  background-color: var(--whatsapp);
  outline-color: var(--whatsapp);
}

.icon-facebook:hover {
  background-color: var(--facebook);
  outline-color: var(--facebook);
}

.icon-instagram:hover {
  background-color: var(--instagram);
  outline-color: var(--instagram);
}

.icon-telegram:hover {
  background-color: var(--twitter);
  outline-color: var(--twitter);
}

.icon:hover svg {
  animation: shake 0.25s;
}

@keyframes shake {
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
}